ultralytics
opencv-python
numpy
Pillow
PyYAML
matplotlib
scikit-learn
fastapi
uvicorn
python-multipart
types-PyYAML
types-tqdm
python-multipart
pydantic
opencv-python
pathlib
zipfile36
aiofiles
python-jose[cryptography]
passlib[bcrypt]